.homepage-flex {
    background-color: #2f3542;
    color: #fff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    font-family: "Montserrat", sans-serif;
}

.link-to-homepage {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #ff7f50;
    color: black;
    border-radius: 10px;
    text-decoration: none;
}

.link-to-homepage:hover {
    background-color: #fda483;
}

.animated-text {
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.animated-text span {
    position: relative;
}

.animated-text span::before {
    content: "Hello World!!!";
    color: #ff7f50;
    animation: words 20s infinite;
}

.animated-text span::after {
    content: "";
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    background-color: #2f3542;
    border-left: 2px solid #ff7f50;
    right: -8px;
    animation: cursor 0.8s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor {
    to {
        border-left: 2px solid #ff7f5000;
    }
}

@keyframes words {
    0%,
    20% {
        content: "Hello World.";
    }
    21%,
    40% {
        content: "I am a Student";
    }
    41%,
    60% {
        content: "a Programmer";
    }
    61%,
    80% {
        content: "a Photographer";
    }
    81%,
    100% {
        content: "Welcome to my Portfolio!";
    }
}

@keyframes typing {
    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95% {
        width: 0;
    }
    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%,
    80%,
    85% {
        width: calc(100% + 8px);
    }
}